.navbar {
  font-family: 'Oswald';
}

.background-image {
  background: url("https://storage.needpix.com/rsynced_images/radial-metal-background.jpg");

  height: 600px;
  width: 100%;

  /* display property required for aligning h1 vertically in the middle */
  display: table;
}

/* floater div required to vertically align h1 */
.floater {
  display: table-cell;
  vertical-align: middle;
}

.background-image h1 {
  color: #fff;
  font-family: 'Oswald';
  text-align: center;

}

.background-image p {
  color: #fff;
  font-family: 'Roboto Mono';
  font-size: 1rem;
  text-align: center;
  padding-top: 15px;
}


/* card row styles */

body {
  background-color: #414141;
}

.card-row {
  padding-left: 5%;
  padding-right: 5%;

}

.card {
  margin-top: 2%;
  margin: 5%;
}

/* ** About page ** */

.about-text {
  height: 200px;
}

.about-text h1 {

}

.about-text p {
  
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #414141;
  color: #fff;
  text-align: center;
  font-family: 'Oswald';
  padding-top: 5px;
  padding-bottom: 5px;
}
